@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    background: linear-gradient(
        236.85deg, #041832 27.26%, #3468A7 96.03%
    );
    font-family: 'Roboto' ,sans-serif;
}
.container {
    background: #ECF4FF;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    color: #1c1c1c;
    padding: 64px; 
}
.cabecalho{
    display: flex;
    justify-content: space-between;
}
.perfil{
    display: flex;
}
.perfil-foto{
    border-radius: 400px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0,25);
}
.titulo{
    margin-left: 16px;
}
.titulo h1{
    font-weight: 700;
    font-size: 36px;
}
.titulo h3{
    font-weight: 400;
    font-size: 24ox;
}
.tema button{
    align-self: flex-end;
    font-weight: 400;
    font-size: 24px;
    border-radius:100px ;
    padding: 8px 16px;
    background: #ecf1ff;
    border: #041832 27.26% solid 2px;
}
a:link, a:visited {
	text-decoration: none;
    color: rgb(131, 131, 131);
}
a:hover {
	text-decoration: none;
    color: #1c1c1c;
}
a:active {
	text-decoration: none;
    color: red;
}
.projetos{
    background: linear-gradient(236.85deg, #3c8ffd 27.26%, #b1cff3 96.03%);
    margin: 64px;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(16,16,16,0.42);
    color: #1c1c1c;
    padding: 32px; 
    display: flex;
    flex-direction: column;
}
.projetos-titulo{
    list-style: none; 
    font-weight: 700;
    font-size:36px;
}
.projetos-itens{
    padding: 10px;
    list-style-type:none;
    font-size:24px;
    font-weight: 400;
    line-height: 34px;
}
.dark{
    background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
}
.dark .container{
    background: #333439;
    color: #f6f6f6;
}
.dark .tema button{
    border: gainsboro solid 1px;
    background: #333439;
    color: #f6f6f6;
}
.dark .projetos{
    color: #1c1c1c;
}